# Limpiar datos

In [107]:
import pandas as pd

df = pd.read_csv('./datos_ejemplo.csv')
print(df.head())

   ID  Nombre             Edad     Genero  Salario Departamento
0   1     Ana               25   Femenino  50000.0       Ventas
1   2    Luis               30  Masculino      NaN    Marketing
2   3  Carlos  Treinta y cinco  Masculino  60000.0       Ventas
3   4   Sofia               40   Femenino  55000.0         RRHH
4   5     NaN               45  Masculino  70000.0           TI

In [108]:
# Manejo de valores nulos

print('Valores nulos por columna')
dfNulos = df.isnull()
print(dfNulos)
print(dfNulos.sum())

Valores nulos por columna
      ID  Nombre   Edad  Genero  Salario  Departamento
0  False   False  False   False    False         False
1  False   False  False   False     True         False
2  False   False  False   False    False         False
3  False   False  False   False    False         False
4  False    True  False   False    False         False
5  False   False  False   False    False         False
6  False   False  False   False    False         False
7  False   False  False   False    False         False
ID              0
Nombre          1
Edad            0
Genero          0
Salario         1
Departamento    0
dtype: int64

In [109]:
# Eliminar las filas que tienen valores nulos, la fila completa

dfFilaDel = df.dropna()
print(dfFilaDel)

   ID   Nombre             Edad     Genero  Salario Departamento
0   1      Ana               25   Femenino  50000.0       Ventas
2   3   Carlos  Treinta y cinco  Masculino  60000.0       Ventas
3   4    Sofia               40   Femenino  55000.0         RRHH
5   6  Carlos1  Treinta y cinco      Trans  60000.0       Ventas
6   7  Carlos2  Treinta y cinco        Gay  60000.0       Ventas
7   8  Carlos3  Treinta y cinco   Lesbiana  60000.0       Ventas

In [110]:
# Rellenar valores nulos con valor especifico

dfFilledUp = df.fillna({'Salario': 0, 'Nombre': 'JohnDoe', 'ColumnFake': 'NON existing column'})
# Si el nombre de la comuna no existe ignora esa transformacion
print(dfFilledUp)

   ID   Nombre             Edad     Genero  Salario Departamento
0   1      Ana               25   Femenino  50000.0       Ventas
1   2     Luis               30  Masculino      0.0    Marketing
2   3   Carlos  Treinta y cinco  Masculino  60000.0       Ventas
3   4    Sofia               40   Femenino  55000.0         RRHH
4   5  JohnDoe               45  Masculino  70000.0           TI
5   6  Carlos1  Treinta y cinco      Trans  60000.0       Ventas
6   7  Carlos2  Treinta y cinco        Gay  60000.0       Ventas
7   8  Carlos3  Treinta y cinco   Lesbiana  60000.0       Ventas

In [111]:
# Errores en los tipos d datos

#Convertir una columna a nmerica numeros en letras en lugar de numeros
df['Edad'] = pd.to_numeric(df['Edad'], errors='coerce')
# Si encuentra algo que no se ajusta al tipo que queremos trasnformar
# EX. un numero escrito en letra esta funcion lo transformara en NaN not a number
print(df)
print(df.dtypes)

# Rellenar valores nulos con la media
print('Rellenar valores nulos con la media')
meanEdad = df['Edad'].mean()
df['Edad'] = df['Edad'].fillna(meanEdad)
print(df)
print(df.dtypes)

   ID   Nombre  Edad     Genero  Salario Departamento
0   1      Ana  25.0   Femenino  50000.0       Ventas
1   2     Luis  30.0  Masculino      NaN    Marketing
2   3   Carlos   NaN  Masculino  60000.0       Ventas
3   4    Sofia  40.0   Femenino  55000.0         RRHH
4   5      NaN  45.0  Masculino  70000.0           TI
5   6  Carlos1   NaN      Trans  60000.0       Ventas
6   7  Carlos2   NaN        Gay  60000.0       Ventas
7   8  Carlos3   NaN   Lesbiana  60000.0       Ventas
ID                int64
Nombre           object
Edad            float64
Genero           object
Salario         float64
Departamento     object
dtype: object
Rellenar valores nulos con la media
   ID   Nombre  Edad     Genero  Salario Departamento
0   1      Ana  25.0   Femenino  50000.0       Ventas
1   2     Luis  30.0  Masculino      NaN    Marketing
2   3   Carlos  35.0  Masculino  60000.0       Ventas
3   4    Sofia  40.0   Femenino  55000.0         RRHH
4   5      NaN  45.0  Masculino  70000.0           TI
5   6  Carlos1  35.0      Trans  60000.0       Ventas
6   7  Carlos2  35.0        Gay  60000.0       Ventas
7   8  Carlos3  35.0   Lesbiana  60000.0       Ventas
ID                int64
Nombre           object
Edad            float64
Genero           object
Salario         float64
Departamento     object
dtype: object

In [112]:
#Convertir una columna a nmerica numeros en letras en lugar de numeros
df['Salario'] = pd.to_numeric(df['Salario'], errors='coerce')
# Si encuentra algo que no se ajusta al tipo que queremos trasnformar
# EX. un numero escrito en letra esta funcion lo transformara en NaN not a number
print(df)
print(df.dtypes)

# Rellenar valores nulos con la media
print('Rellenar valores nulos con la media')
meanSalario = df['Salario'].mean()
df['Salario'] = df['Salario'].fillna(meanSalario)
print(df)
print(df.dtypes)

   ID   Nombre  Edad     Genero  Salario Departamento
0   1      Ana  25.0   Femenino  50000.0       Ventas
1   2     Luis  30.0  Masculino      NaN    Marketing
2   3   Carlos  35.0  Masculino  60000.0       Ventas
3   4    Sofia  40.0   Femenino  55000.0         RRHH
4   5      NaN  45.0  Masculino  70000.0           TI
5   6  Carlos1  35.0      Trans  60000.0       Ventas
6   7  Carlos2  35.0        Gay  60000.0       Ventas
7   8  Carlos3  35.0   Lesbiana  60000.0       Ventas
ID                int64
Nombre           object
Edad            float64
Genero           object
Salario         float64
Departamento     object
dtype: object
Rellenar valores nulos con la media
   ID   Nombre  Edad     Genero       Salario Departamento
0   1      Ana  25.0   Femenino  50000.000000       Ventas
1   2     Luis  30.0  Masculino  59285.714286    Marketing
2   3   Carlos  35.0  Masculino  60000.000000       Ventas
3   4    Sofia  40.0   Femenino  55000.000000         RRHH
4   5      NaN  45.0  Masculino  70000.000000           TI
5   6  Carlos1  35.0      Trans  60000.000000       Ventas
6   7  Carlos2  35.0        Gay  60000.000000       Ventas
7   8  Carlos3  35.0   Lesbiana  60000.000000       Ventas
ID                int64
Nombre           object
Edad            float64
Genero           object
Salario         float64
Departamento     object
dtype: object

In [113]:
# Conversion de variables a numeros
#df['Genero'] = df['Genero'].map({'F': 0, 'M':1})
#print(df)

In [114]:
dfV1 = pd.get_dummies(df, columns=['Departamento'], drop_first=True)
print(dfV1)

dfV2 = pd.get_dummies(df, columns=['Departamento'])
print(dfV2)

   ID   Nombre  Edad     Genero       Salario  Departamento_RRHH  \
0   1      Ana  25.0   Femenino  50000.000000              False
1   2     Luis  30.0  Masculino  59285.714286              False
2   3   Carlos  35.0  Masculino  60000.000000              False
3   4    Sofia  40.0   Femenino  55000.000000               True
4   5      NaN  45.0  Masculino  70000.000000              False
5   6  Carlos1  35.0      Trans  60000.000000              False
6   7  Carlos2  35.0        Gay  60000.000000              False
7   8  Carlos3  35.0   Lesbiana  60000.000000              False

   Departamento_TI  Departamento_Ventas
0            False                 True
1            False                False
2            False                 True
3            False                False
4             True                False
5            False                 True
6            False                 True
7            False                 True
   ID   Nombre  Edad     Genero       Salario  Departamento_Marketing  \
0   1      Ana  25.0   Femenino  50000.000000                   False
1   2     Luis  30.0  Masculino  59285.714286                    True
2   3   Carlos  35.0  Masculino  60000.000000                   False
3   4    Sofia  40.0   Femenino  55000.000000                   False
4   5      NaN  45.0  Masculino  70000.000000                   False
5   6  Carlos1  35.0      Trans  60000.000000                   False
6   7  Carlos2  35.0        Gay  60000.000000                   False
7   8  Carlos3  35.0   Lesbiana  60000.000000                   False

   Departamento_RRHH  Departamento_TI  Departamento_Ventas
0              False            False                 True
1              False            False                False
2              False            False                 True
3               True            False                False
4              False             True                False
5              False            False                 True
6              False            False                 True
7              False            False                 True

In [115]:
# Get all genres
#genres = df['Genero'].unique()
#mapGenres = {}
#for value in genres:
#    mapGenres[value] = value[0]
    
df['Genero'] = df['Genero'].apply(lambda x: x[0])
#print(genres)
#print(mapGenres)
print(df)

   ID   Nombre  Edad Genero       Salario Departamento
0   1      Ana  25.0      F  50000.000000       Ventas
1   2     Luis  30.0      M  59285.714286    Marketing
2   3   Carlos  35.0      M  60000.000000       Ventas
3   4    Sofia  40.0      F  55000.000000         RRHH
4   5      NaN  45.0      M  70000.000000           TI
5   6  Carlos1  35.0      T  60000.000000       Ventas
6   7  Carlos2  35.0      G  60000.000000       Ventas
7   8  Carlos3  35.0      L  60000.000000       Ventas